.img-profile {
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

.contacts-title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.contacts-link{
  color: #bec1c6;
  text-decoration: none;
}

.contacts-link-type {
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.navbar {
  color: rgba(255, 255, 255, 0.55);
  background-color: #bd5d38;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-brand {
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navbar-nav {
  flex-direction: column;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
}

#sideNav {
  padding-left: 1rem;
  padding-right: 1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

.nav-link {
  display: block;
  padding: 0.5rem 0 1rem 0;
  color: #bd5d38;
}

.nav-last-item {
  margin-bottom: 15px;
}

h2, .h2 {
  font-size: calc(1.475rem + 2.7vw);
}

p {
  color: #6c757d;
}

.resume-section .resume-section-content {
    width: 100%;
}

.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

h3, h1 {
  margin-top: 20px;
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

.main-block {
  display: flex;
  margin-top: 20px;
}

.flex-grow-1 {
  flex-grow: 1;
}

h1 {
  font-size: calc(1.725rem + 5.7vw);
}

.text-primary {
  color: #bd5d38;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-size: 24px;
  color: darkgray;
  font-weight: 5000;
}

.name-of-section {
  font-size: 62px;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.date-right {
  flex-shrink: 0;
}

.date-text {
  color: #bd5d38;
  font-size: 18px;
}

.subtitle-name-of-section {
  font-size: 32px;
  margin-bottom: 0;
  margin-top: 0;
}

nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.list-inline-item {
  display: inline-block;
}
  
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.about-icons {
  font-size: 2.5rem;
  padding-top: 48px;
  display: inline-flex;
  color: #fff;
}

.about-icon {
  margin-right: 1.5rem;
  color: #343a40;
}

.workflow-icons {
  margin-right: 0.5rem;
}

.skills-icons {
  font-size: 2.5rem;
  padding: 0;
}

.awesome-icons-padding {
  padding-right: 10px;
}

.workflow-icons-padding {
  padding: 15px;
}

.icons-awards {
  padding-left: 0;
  padding-top: 48px;
  margin-left: 20px;
}

select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.submitButton {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.container-contact-me {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 30px;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 100px;
}

.inputClass {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header .logo {
  display: flex;
  padding-top: 15px;
  font-size: 1.5em;
  float: left;
  text-decoration: none;
  color: white;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  padding: 28px 20px;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
 background: #333;
 content: '';
 height: 100%;
 position: absolute;
 transition: all .2s ease-out;
 width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 340px;
  display:inline-flex;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}